/*#div1{

	height: 200px;
	width: 300px;
	background-color: #07e250
}*/

/*#div2{
	height: 100px;
	width: 150px;
	background-color: cyan;
}*/


#div2{
	height: 50%;
	width: 50%;
	background-color: cyan;
}


/*#div1{
 
	height: 75vh; 
	/*width: 100vw;*/  
	/*background-color: #07e250*/
/*}*/

#div1{
 
	height: 4rem; 
	width: 6rem;  
	background-color: #393a7b;
	/*there are couple of properties corresponding to border that we have to specify*/

	/*border-width: 2px;*/ /*all the four borders will be 2px*/
	/*don't comment border style and color now, comment at the of combining all 3 properties*/
	/*border-style: solid;*/ /*I want style of the border to be solid*/
	/*border-color: red;*/
	/*you can explore more border part by inspecting*/

   /*so now I want instead of having all four borders to be 2px I want top and bottom border should be of 2x but left and right border should be of 4px*/
    /*border-width: 2px 4px;*/  /*2px for top and bottom and 4px for left and right*/

   /*If I end up specifying 3 values then first value will be considered for top border, last value will correspond to bottom border and left and right will be 4*/
   /* border-width: 2px 4px 6px;*/

    /*you can specify 4 values as well, then first value is for top, second value is for right, then third value is for bottom, and fourth value will be for left  */
  
    /*I can combine all three properties of border in one line*/
    /*comment upar wale border style and color */
    border: 4px solid red; /*so instead of using the 3 different properties you can just use the border property and specify all 3 values there*/
    
    /*we can have round border as well for that we can use order radius*/
    border-radius: 4px; /*we can achieve the varius shape using the border radius property*/
}

 /*now open the html page and add border to sample para then come back here */
/*I'll access that p tag via its id*/
#sample-para{
	/*border : 2px solid red;*/
	/*if I want only left border to give text a nicer feel, so I can have only left paragraph*/
	/*so I want in order only the left border should be set*/
   /*so one option is that you specify only the left border width and set all other border widths to 0 or you use border-left as well*/
   border-left: 4px solid red;
}


html{
	font-size: 30px;
}


